@tailwind base;
@tailwind components;
@tailwind utilities;

/* App scaffolding */
:root {
  color-scheme: dark;
}

html, body, #root {
  height: 100%;
}

.scrollbar-thin::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 9999px;
}
